<head>
  link(rel="stylesheet", href="/css/feedback.css", data-inline)
</head>

<body>
  <div class="container">
    h1 Tipo de feedback: #{type}
    <div class="comentario">
      <p>#{comment}</p>

      div.triangle
    </div>

    img(src=screenshot)
  </div>
</body>